body{
    height:100dvh;
    display:flex;
    flex-direction:column;
}

.area-title{
    width: 100%;
    margin-top: 10px;
}

.area-title p{
    font-size: 12px;
    color: #626161;
    margin-left: 15px;
    margin-bottom: 2px;
}

.area-title hr{
    width: 90%;
    border: none;
    border-top: 1px solid #626161;
    margin: 0 auto;
}

#top-block{
    flex: 1.5;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

#quest-title{
    font-size: 24px;
    margin-top: 40px;
    margin-left: 40px;
}

#owner-btn{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-image: url("../assets/owner.png");
    background-size: cover;
    border: none;
    margin-top: 20px;
    margin-right: 20px;
}

#second-block{
    flex: 2;
    display: flex;
}

#ranking-area{
    border: 1px solid #626161;
    margin-left: 40px;
    margin-right: 1dvh;
    border-radius: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ranking-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.ranking-item{
    display: flex;
    align-items: center;
}

.ranking-item img{
    margin-left: 5px;
    width: 16px;
    height: 16px;
    object-fit: cover;
}

.ranking-item div{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
}

.ranking-item p{
    font-size: 12px;
    margin-right: 10px;
}

#total-area{
    border: 1px solid #626161;
    margin-left: 1dvh;
    margin-right: 40px;
    border-radius: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#total-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#total-container div{
    display: flex;
    align-items: end;
}

#total-value{
    font-size: 48px;
}

#total-text{
    margin-left: 5px;
    font-size: 14px;
}

#task-area{
    flex: 4;
    border: 1px solid #626161;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 2dvh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#task-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

#task-container::-webkit-scrollbar{
    display: none;
}

.task-item{
    width: 90%;
    margin-top: 10px;
    flex-shrink:0;
    display: flex;
    flex-direction: column;
}
.task-item-text{
    display: flex;
    justify-content: space-between;
}

.task-item-name{
    font-size: 14px;
    margin-left: 10px;
}

.task-item-type{
    width: 40px;
    height: 18px;
    border-radius: 5px;
    background-color: #c1c1c1;
    font-size: 12px;
    color: #000000;
    margin-right: 10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#todo-area{
    flex: 4;
    border: 1px solid #626161;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 2dvh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#todo-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

#todo-container::-webkit-scrollbar{
    display: none;
}


.todo-item{
    width: 90%;
    margin-top: 10px;
    flex-shrink:0;
    display: flex;
    flex-direction: column;
}
.todo-item-text{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.todo-item-name{
    font-size: 14px;
    margin-left: 10px;
}

.todo-item-state{
    font-size: 10px;
    color: #000000;
    margin-right: 10px;
}

#reward-area{
    flex: 1;
    border: 1px solid #626161;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 2dvh;
    margin-bottom: 2dvh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reward-container{
    width: 90%;
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}

#reward-value{
    font-size: 14px;
    margin-right: 30px;
}


/* owner modal */

#owner-modal-content{
    height: 250px;
}


/* task modal */

#task-modal-content{
    height: 45dvh;
}

#task-modal-top-block{
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#task-modal-name{
    font-size: 20px;
    color: #626161;
    margin-top: 25px;
}


#task-modal-type{
    margin-top: 35px;
}

#task-modal-content hr{
    width: 100%;
    color: #626161;
}

#task-modal-desc-block{
    width: 85%;
    flex: 3;
}

#task-modal-desc-block p{
    font-size: 12px;
    color: #626161;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#task-modal-reward-block{
    width: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#task-modal-reward-block p{
    font-size: 12px;
    color: #626161;
    margin-left: 5px;
    margin-right: 5px;
}

#task-modal-exp{
    align-self: flex-end;
}

#task-modal-content button{
    margin-top: 20px;
    margin-bottom: 40px;
}



/* todo modal */

#todo-modal-content{
    height: 45dvh;
}

#todo-modal-top-block{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todo-modal-name{
    font-size: 20px;
    color: #626161;
    margin-top: 25px;
}


#todo-modal-type{
    margin-top: 35px;
}

#todo-modal-content hr{
    width: 100%;
    color: #626161;
}

#todo-modal-desc-block{
    width: 85%;
    flex: 1;
}

#todo-modal-desc-block p{
    font-size: 12px;
    color: #626161;
    margin-left: 5px;
    margin-right: 5px;
}

#todo-modal-update-block{
    width: 85%;
}

#todo-modal-update-block p{
    font-size: 12px;
    color: #626161;
    margin-left: 5px;
    margin-right: 5px;
}

#image-box{
    width: 100%;
    height:150px;
    border: 1px solid #626161;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
}

#preview-image{
    width:95%;
    height:95%;

    object-fit:contain;
    display:none;
}

#upload-text{
    font-size: 30px;
}

#todo-modal-content button{
    margin-top: 20px;
    margin-bottom: 20px;
}